# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/

# Editor-specific folders
.vscode/